<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Contact Card</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2"><strong>Name:</strong></div>
			<div class="col-md-10">{{currentContact.fullName}}</div>
		</div>
		<div class="row">
			<div class="col-md-2"><strong>Role:</strong></div>
			<div class="col-md-10">{{currentContact.role}}</div>
		</div>
		<div class="row">
			<div class="col-md-2"><strong>Employer:</strong></div>
			<div class="col-md-10">{{currentContact.employer}}</div>
		</div>
	</div>
</div>
